body {
  font-family: "Inter",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  font-size: 0.945rem;
  padding-top: 4.8125rem;
}

.navbar {
  --bs-navbar-padding-y: 0.75rem;
}

.navbar-nav .nav-link.active {
  font-weight: 600;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.card > .card-header {
  --bs-card-cap-padding-y: 1rem;
  display: flex;
  align-items: center;
}

.btn {
  --bs-btn-font-size: 0.9rem;
}

.theme-switch {
  position: relative;
  display: inline-flex;
  width: 40px;
  height: 22px;
}

#themeSwitch {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--bs-emphasis-color-rgb), .05);
  border: 1px solid var(--bs-border-color);
  border-radius: 22px;
  transition: .3s;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: var(--bs-body-bg);
  border-radius: 50%;
  transition: .3s;
  z-index: 2;
}

.switch-slider .lucide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  transition: .3s;
  z-index: 3;
  pointer-events: none;
  color: #495057;
}

.switch-slider [data-lucide="sun"] {
  left: 4px;
  opacity: 1;
  color: var(--bs-body-color);
}

.switch-slider [data-lucide="moon"] {
  right: 4px;
  opacity: 0.5;
  color: var(--bs-body-color);
}

#themeSwitch:checked + .switch-slider {
  background-color: rgba(var(--bs-emphasis-color-rgb), .1);
}

#themeSwitch:checked + .switch-slider:before {
  transform: translateX(18px);
}

#themeSwitch:checked + .switch-slider [data-lucide="sun"] {
  opacity: 0.5;
}

#themeSwitch:checked + .switch-slider [data-lucide="moon"] {
  opacity: 1;
}

.smaller {
  font-size: 0.75rem;
}

.smallest {
  font-size: 0.625rem;
}

.dropdown-menu {
  --bs-dropdown-font-size: 0.875rem;
}

.dropdown-item {
  display: flex;
  align-items: center;
}

.dropdown-item > [data-lucide] {
  width: 20px;
  height: 20px;
}

.navbar-brand > [data-lucide="boxes"] {
  width: 32px;
  height: 32px;
  stroke-width: 1.5;
}

.navbar-brand-text {
  display: flex;
  flex-direction: column;
}

.navbar-brand-text > span {
  font-size: 0.75rem;
  font-weight: 300;
  color: rgba(var(--bs-emphasis-color-rgb), 0.55);
}

.sidebar {
  width: calc(var(--bs-gutter-x) + 280px);
  position: sticky;
  top: 4.8125rem
